.welcome-page-container {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    /* row-gap: 10rem; */

}

.name-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-field {
    font-family: "DM Sans", sans-serif;
    padding: 1.2rem 5rem;
    border-radius: 20px;
    font-size: 1.2rem;
    margin: 20px;
    border: none;
    outline: none;
    text-align: center;
    transition: scale 0.3s;
}

.text-field:hover {
    scale: 1.05;
}

.submit-button {
    font-family: "DM Sans", sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #292929;
    font-size: 1rem;
    cursor: pointer;
    transition: scale 0.3s;
}

.submit-button:hover {
    scale: 1.05;
}

@media (max-width: 768px) {

    .welcome-page-container {
        font-family: "DM Sans", sans-serif;
        text-align: center;
        font-size: 1rem;
        /* row-gap: 10rem; */
    
    }
    
    .name-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .text-field {
        font-family: "DM Sans", sans-serif;
        padding: 2rem 4rem;
        border-radius: 20px;
        font-size: 1.2rem;
        margin: 20px;
        border: none;
        outline: none;
        text-align: center;
        transition: scale 0.3s;
    }
    
    .text-field:hover {
        scale: 1.05;
    }
    
    .submit-button {
        font-family: "DM Sans", sans-serif;
        padding: 1.5rem 3.5rem;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: #ffffff;
        color: #292929;
        font-size: 2.5rem;
        cursor: pointer;
        transition: scale 0.2s;
    }
    
    .submit-button:hover {
        scale: 1.05;
    }

}

.music-player {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 10px;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 600;
    transition: all 0.3 ease;
    font-family: "DM Sans", sans-serif;
    font-size: large;
}

.music-player:hover {
    background-color: #ffc5e6;
}

.scroll-text {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    color: #292929;
    opacity: 80%;
    z-index: 10;
    opacity: 50%;
    transition: all 0.3s ease;
}

.scroll-text:hover {
    opacity: 100%;
}